<div class="dashboard-wrapper">
    <nav>
        <img src="{{ asset('build/images/logo.png') }}" height="70" alt="logo" class="nav-logo">
        <ul>
            <li><a href="/"><i class="fas fa-home fa-fw"></i><span>S1</span></a></li>
            <li><a href="" class="fas fa-home fa-fw"><i class="fas fa-medal fa-fw"></i><span>S2</span></a></li>
            <li><a href=""><i class="fas fa-drum fa-fw"></i><span>S3</span></a></li>
            <li><a href=""><i class="fas fa-graduation-cap fa-fw"></i><span>S4</span></a></li>
            <li><a href=""><i class="fas fa-ranking-star fa-fw"></i><span>S5</span></a></li>
            <li class="text-center text-bg-warning rounded" id="chrono">S6</li>
        </ul>
    </nav>
</div>